.left-bubble{
    display: inline-block;
    background-color: pink;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    max-width: 500px;
    position: relative;
}

.right-bubble{
    display: inline-block;
    background-color: green;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    max-width: 500px;
    position: relative;
}

.date{
    font-size: 10px;
    color: gray;
    position: absolute;
    bottom: 3px;
    right: 10px;
}