<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-UI</title>
</head>
<body>
    <div class="app-container">
        <div id="user-list-panel">
            <ul class="user-list" id="user-list">
                <!-- <li class="user-item" data-user-id="0b6d672f-bb8b-4206-a12f-a7a4d28a37dc">
                    <a href="#"> user1client</a>
                </li>
                <li class="user-item" data-user-id="9e5a7c58-d1c7-4c92-8d86-4cb83ee8517e">
                    <a href="#">john doe</a>
                </li>
                <li class="user-item" data-user-id="3">
                    <a href="#">lorem ipsum</a>
                </li> -->
            </ul>
        </div>
        <div id="chat-window-panel">
            <div id="chat-messages"></div>
            <div style="position: fixed; bottom: 20px; right: 50%;" id="message-input-area">
                <input type="text" name="message-input" id="message-input">
                <button type="button" id="send-button" name="send-button">Send </button>
            </div>
        </div>
    </div>
</body>
<script>
    const chatMessages = document.getElementById("chat-messages")
    const messageInput = document.getElementById("message-input")
    const sendButton = document.getElementById("send-button")
    const userList = document.getElementById("user-list")
    let selectedUserId = null
    
    const token = localStorage.getItem("token")
    const user_id = localStorage.getItem("user_id")
    // console.log("this is token ", token)
    if (!token){
        console.log("token missing")
        window.location.href = "/login"
    }

    let socket = new WebSocket(`ws://localhost:5000/ws`, ["Bearer", token])
    socket.onopen = function(event) {
        console.log("Websocket connected successfully")
    }

    window.onload = async function(event){
        let response = await fetch("/users",{
            headers:{
                Authorization: "Bearer " + token
            }
        })

        if (!response.ok){
            let result = await response.text()
            console.log("got an error when fetching users", result)
        } else{
            let result = await response.json()
            let users = result.data
            for (let user of users){
                let userLi = document.createElement("li")
                userLi.className = "user-item"
                userLi.dataset.userId = user.id
                userLi.innerHTML = `<a href="#">${user.username}</a>`
                userList.append(userLi)
            }
        }
    }

    socket.onerror = function(event){
        console.log("WEbscoket error: ", event)

        console.log("authentication failed. Redirect to login page")
        window.location.href = "/login"
    }

    // for incoming messages
    socket.onmessage = function(event){
        let parsedMessage = JSON.parse(event.data) 
        console.log(parsedMessage)
        const msgDiv = document.createElement("div")
        msgDiv.textContent = `From ${parsedMessage.sender_id}: ${parsedMessage.content}`
        chatMessages.appendChild(msgDiv)
    }

    socket.onclose = function(event){
        console.log("Websocket disconnected.")
    }

    // select user to chat
    document.querySelectorAll(".user-item").forEach(item =>{
        item.addEventListener("click", async () => {
            selectedUserId = item.getAttribute("data-user-id")
            console.log("chatting with user: ", selectedUserId)
            chatMessages.innerHTML = ""

            const response = await fetch(`/messages/${selectedUserId}`, {
                headers: {
                    Authorization: "Bearer "+ token
                }
            })
            if (response.ok){
                let result = await response.json()
                console.log("this is response messages: ", result)
                responseData = result.data
                for (let data of responseData){
                    let user = data.sender_id
                    let messageContent = data.content
                    const msgDiv = document.createElement("div")
                    if (data.sender_id != user_id){
                        msgDiv.style.textAlign = "right"
                    } else{
                        msgDiv.style.textAlign = "left"
                    }
                    msgDiv.textContent = `From ${user}: ${messageContent}`
                    chatMessages.appendChild(msgDiv)

                }

            } else{
                let errorText = await response.text()
                console.log("got an error when fetching user chat: ", errorText)
            }
        })
    })

    //send message
    sendButton.addEventListener("click", ()=>{
        if (!selectedUserId){
            console.log("No user or invalid user")
            alert("select user first")
            return
        }

        const message = messageInput.value.trim()
        if (message=="") return

        const msgObj = {
            receiver_id: selectedUserId,
            content: message
        }

        socket.send(JSON.stringify(msgObj))

        const msgDiv = document.createElement("div")
        msgDiv.textContent = `Me: ${message}`
        chatMessages.appendChild(msgDiv)

        messageInput.value = "";

    })

    messageInput.addEventListener("keypress", (e) => {
        if (e.key === "Enter") sendButton.click();
    })
    console.log("after connected to websocket")
    console.log("this is token: ", token)
</script>
</html>