<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/chat.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-UI</title>
</head>
<body>
    <div class="app-container">
        <div id="user-list-panel">
            <ul class="user-list" id="user-list">
                <!-- <li class="user-item" data-user-id="0b6d672f-bb8b-4206-a12f-a7a4d28a37dc">
                    <a href="#"> user1client</a>
                </li>
                <li class="user-item" data-user-id="9e5a7c58-d1c7-4c92-8d86-4cb83ee8517e">
                    <a href="#">john doe</a>
                </li>
                <li class="user-item" data-user-id="3">
                    <a href="#">lorem ipsum</a>
                </li> -->
            </ul>
        </div>
        <div id="chat-window-panel" style="overflow-y: scroll;">
            <div id="chat-messages"></div>
            <div style="position: fixed; bottom: 20px; right: 50%;" id="message-input-area">
                <input type="text" name="message-input" id="message-input">
                <button type="button" id="send-button" name="send-button">Send </button>
            </div>
        </div>
    </div>
</body>
<script>
    const chatMessages = document.getElementById("chat-messages")
    const messageInput = document.getElementById("message-input")
    const sendButton = document.getElementById("send-button")
    const userList = document.getElementById("user-list")
    
    let selectedUserId = null
    
    const token = localStorage.getItem("token")
    const user_id = localStorage.getItem("user_id")
    // console.log("this is token ", token)
    if (!token){
        console.log("token missing")
        window.location.href = "/login"
    }

    let socket = new WebSocket(`ws://localhost:5000/ws`, ["Bearer", token])
    socket.onopen = function(event) {
        console.log("Websocket connected successfully")
    }

    function addBubble(position, user, messageContent){
        const msgDiv = document.createElement("div")
        let wrapperDiv = document.createElement("div")
        wrapperDiv.style.textAlign = position
        if (position == "left"){
            msgDiv.className = "left-bubble"
            // msgDiv.style.display = "inline-block";
            // msgDiv.style.backgroundColor = "pink";
            // msgDiv.style.borderRadius = "10px";
            // msgDiv.style.margin = "5px";
            // msgDiv.style.padding = "10px";
            // msgDiv.style.maxWidth = "500px"; // Use max-width here as well
            msgDiv.textContent = `From ${user}: ${messageContent}`;
        } else if (position == "right"){
            msgDiv.className = "right-bubble"
            // msgDiv.style.display = "inline-block";
            // msgDiv.style.backgroundColor = "green";
            // msgDiv.style.padding = "10px";
            // msgDiv.style.margin = "5px";
            // msgDiv.style.borderRadius = "10px";
            // msgDiv.style.maxWidth = "500px"; // Use max-width for better responsiveness
            msgDiv.textContent = `me: ${messageContent}`;
        }
        wrapperDiv.appendChild(msgDiv)
        chatMessages.append(wrapperDiv)
        if (wrapperDiv){
            wrapperDiv.scrollIntoView({
                behavior: "smooth",
                block:"end",
            })
        }
        // const chatWindow = document.getElementById("chat-window-panel")
        // if (chatWindow){
        //     console.log("chat window loaded")
        //     chatWindow.scrollTop = chatWindow.scrollHeight
        // }
        // window.scrollTo(0, document.body.scrollHeight);

    }
    // list all users
    window.onload = async function(event){
        let response = await fetch("/users",{
            headers:{
                Authorization: "Bearer " + token
            }
        })

        if (!response.ok){
            let result = await response.text()
            console.log("got an error when fetching users", result)
        } else{
            let result = await response.json()
            let users = result.data
            for (let user of users){
                let userLi = document.createElement("li")
                userLi.className = "user-item"
                userLi.dataset.userId = user.id
                userLi.innerHTML = `<a href="#">${user.username}</a>`
                userLi.addEventListener("click", async () => {
                    selectedUserId = userLi.getAttribute("data-user-id")
                    console.log("chatting with user: ", selectedUserId)
                    chatMessages.innerHTML = ""

                    const response = await fetch(`/messages/${selectedUserId}`, {
                        headers: {
                            Authorization: "Bearer "+ token
                        }
                    })
                    if (response.ok){
                        let result = await response.json()
                        console.log("this is response messages: ", result)
                        responseData = result.data
                        for (let data of responseData){
                            let user = data.sender_id
                            let messageContent = data.content
                            const msgDiv = document.createElement("div")
                            let wrapperDiv = document.createElement("div");

                            if (data.sender_id == user_id) {

                                addBubble("right", "", messageContent)
                                
                                // wrapperDiv.style.textAlign = "right";
                                
                                // msgDiv.style.display = "inline-block";
                                // msgDiv.style.backgroundColor = "green";
                                // msgDiv.style.padding = "10px";
                                // msgDiv.style.margin = "5px";
                                // msgDiv.style.borderRadius = "10px";
                                // msgDiv.style.maxWidth = "500px"; // Use max-width for better responsiveness
                                // msgDiv.textContent = `me: ${messageContent}`;
                            } else {
                                addBubble("left", user, messageContent)
                                // wrapperDiv.style.textAlign = "left";
                                // msgDiv.style.display = "inline-block";
                                // msgDiv.style.backgroundColor = "pink";
                                // msgDiv.style.borderRadius = "10px";
                                // msgDiv.style.margin = "5px";
                                // msgDiv.style.padding = "10px";
                                // msgDiv.style.maxWidth = "500px"; // Use max-width here as well
                                // msgDiv.textContent = `From ${user}: ${messageContent}`;
                            }

                            // Append the chat bubble to the wrapper
                            // wrapperDiv.appendChild(msgDiv);

                            // // Append the wrapper to the chat container
                            // chatMessages.appendChild(wrapperDiv);

                        }

                    } else{
                        let errorText = await response.text()
                        console.log("got an error when fetching user chat: ", errorText)
                    }
                })
                userList.append(userLi)
            }
        }
    }

    socket.onerror = function(event){
        console.log("WEbscoket error: ", event)

        console.log("authentication failed. Redirect to login page")
        window.location.href = "/login"
    }

    // for incoming messages
    socket.onmessage = function(event){
        let parsedMessage = JSON.parse(event.data) 
        console.log(parsedMessage)
        addBubble("left", parsedMessage.sender_id, parsedMessage.content)
        // const msgDiv = document.createElement("div")
        // msgDiv.textContent = `From ${parsedMessage.sender_id}: ${parsedMessage.content}`
        // chatMessages.appendChild(msgDiv)
    }

    socket.onclose = function(event){
        console.log("Websocket disconnected.")
    }

    // select user to chat
    // document.querySelectorAll(".user-item").forEach(item =>{
        
    // })

    //send message
    sendButton.addEventListener("click", ()=>{
        if (!selectedUserId){
            console.log("No user or invalid user")
            alert("select user first")
            return
        }

        const message = messageInput.value.trim()
        if (message=="") return

        const msgObj = {
            receiver_id: selectedUserId,
            content: message
        }

        socket.send(JSON.stringify(msgObj))
        addBubble("right", "", message)
        // const msgDiv = document.createElement("div")
        // msgDiv.textContent = `Me: ${message}`
        // chatMessages.appendChild(msgDiv)

        messageInput.value = "";

    })

    messageInput.addEventListener("keypress", (e) => {
        if (e.key === "Enter") sendButton.click();
    })
    console.log("after connected to websocket")
    console.log("this is token: ", token)
</script>
</html>